JodyAnn Bradford

In [2]:
# Import pandas
import pandas as pd

In [3]:
## Imported sales_predictions
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRn7nM_FT05Hp9ZJ4H4aTzjMtmARwVDR5nufLvakrIPAixqGCp1cVwaG-jOHQbeUOhq_tjMa0ew5DwY/pub?gid=796570992&single=true&output=csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
# Number of Columns in Total

df.shape

(8523, 12)

In [5]:
# datatypes of each variable

df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [6]:
# Duplicated identified 

df.duplicated().any()

False

In [8]:
# Possible Missing Values 

df[df.isna().any(axis=1)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.20,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.20,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
...,...,...,...,...,...,...,...,...,...,...,...,...
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128
8508,FDW31,11.35,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8509,FDG45,8.10,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8514,FDA01,15.00,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.38,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850

In [16]:
# Missing values dropped 

df.dropna(inplace = True)

In [17]:
#addressed missing values confirmed 

df.shape

(4650, 12)

In [18]:
 # fix any inconsistent categories of data

 df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [19]:
# Item_Weights - Summary statistics(min, max, mean)

df['Item_Weight'].min()

4.555

In [20]:

df['Item_Weight'].max()

21.35

In [21]:

df['Item_Weight'].mean()

12.898675268817204

In [23]:
# # Item_Visibility  - Summary statistics(min, max, mean)

df['Item_Visibility'].min()

0.0

In [24]:
df['Item_Visibility'].max()

0.188322664

In [25]:
df['Item_Visibility'].mean()

0.06070047699053764

In [27]:
# Item_MRP  - Summary statistics(min, max, mean)

df['Item_MRP'].min()

31.49

In [29]:
df['Item_MRP'].max()

266.8884

In [30]:
df['Item_MRP'].mean()

141.71632787096775

In [32]:
# Item_Outlet_Sales  - Summary statistics(min, max, mean)

df['Item_Outlet_Sales'].min()

69.2432

In [33]:
df['Item_Outlet_Sales'].max()

10256.649

In [34]:
df['Item_Outlet_Sales'].mean()

2272.0374886021505