<a href="https://colab.research.google.com/github/NewburghCat/dalmatians_sales/blob/main/DataSet_Prj_2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

JodyAnn Bradford

Project 2B: Commerce DataSet 

August 5th 2022.

In [ ]:
# Project_2 : Data Set - E-Commerce Data

This Data was chosen to facilitate an anaylsis which predicts a revelant product type according to the region and shipping. 

Description: 

An international e-commerce company based customer insight data. This company sells electronic products. 

Regression 

The target vector is Customer_Rating as either 1,2,3,4,5.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector,make_column_transformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score, mean_squared_error

In [5]:
# load data 

file = '/content/drive/MyDrive/Colab Notebooks/Data Science - Machine Learning/WK 3/PROJECT2/X_train_CommerceShippingData.csv'
df = pd.read_csv(file)
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

In [14]:
df['Customer_rating'].value_counts()

3    1367
1    1341
4    1330
5    1285
2    1275
Name: Customer_rating, dtype: int64

In [15]:
# Checking dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB

In [17]:
df.describe().round(2)

,ID,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,6598.00,6598.00,6598.00,6598.00,6598.00,6598.00
mean,5476.98,2.99,210.39,3.58,13.35,3604.19
std,3172.95,1.41,48.26,1.51,16.19,1635.70
min,1.00,1.00,96.00,2.00,1.00,1001.00
25%,2731.25,2.00,170.00,3.00,4.00,1834.25
50%,5476.00,3.00,214.00,3.00,7.00,4119.50
75%,8187.75,4.00,251.00,4.00,10.00,5027.50
max,10998.00,5.00,310.00,10.00,65.00,7684.00

In [21]:
# Check for duplicated 

df.duplicated().sum()

0

In [22]:
# Check for missing values 

df.isna().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [24]:
## Create X and y 

target = 'Customer_rating'
X = df.drop(columns=target)
y = df[target]

In [25]:
## train-test-split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.shape

(4948, 10)

Feature Data Types

Numeric Features: Warehouse_block, Mode_of_Shipment, Product_Importance, Discount_offered

Nominal/Categorical Features: 8 Columns

Preprocessor

A. OneHotEncoder 
B. Scaler to scale different scales. 

* No Missing values

In [26]:

## Make a column selector for categories & test it 

cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

In [27]:
## Instantiate OneHotEncoder and StandardScaler

ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
scaler = StandardScaler()

## Create tuples of (transformer, selector) - ColumnTransformer

cat_tuple = (ohe_encoder, cat_selector)
num_tuple = (scaler, num_selector)

In [28]:
## ColumnTransformer

preprocessor = make_column_transformer(cat_tuple, num_tuple)

Modeling

In [29]:
## Make and fit a linear regression model
reg = LinearRegression()
reg_pipe = make_pipeline(preprocessor, reg)

reg_pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f8a835c4190>),
                                                 ('standardscaler',
                                                  StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f8a835c41d0>)])),
                ('linearregression', LinearRegression())])

Evaluating Model performance - using functions from metrics

In [30]:
## Model Performance - using builtin .score()

print(f"Train R-Squared: { round( reg_pipe.score(X_train, y_train),3) }")
print(f"Test R-Squared: { round( reg_pipe.score(X_test, y_test),3) }")

Train R-Squared: 0.002
Test R-Squared: -0.004

In [31]:
# get predictions for train and test data

y_h_train = reg_pipe.predict(X_train)
y_h_test = reg_pipe.predict(X_test)

In [32]:
## Get r-square for train vs test
print(f"Train R-Squared: { round( r2_score(y_train, y_h_train), 3)}")
print(f"Test R-Squared: { round( r2_score(y_test, y_h_test), 3)}")

Train R-Squared: 0.002
Test R-Squared: -0.004

In [33]:
## Get RMSE for train vs test

rmse_train =  mean_squared_error(y_train, y_h_train, squared=False)
rmse_test = mean_squared_error(y_test, y_h_test, squared=False)
print(f"Train RMSE: { round(rmse_train, 2)}")
print(f"Test RMSE: { round( rmse_test, 2)}")

Train RMSE: 1.4
Test RMSE: 1.44